<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Provider - IaaC Platform</title>
    <link href="assets/output.css" rel="stylesheet">
    <link rel="preload" href="https://fastly.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
</head>

<body class="bg-gray-900 text-white">
    <header class="bg-black">
        <nav class="mx-auto flex max-w-7xl items-center justify-betwee p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <h1 class="font-bold text-2xl text-blue-600 shadow-white">IaaC <span
                            class="font-normal">Platform</span>
                    </h1>
                </a>
            </div>
            <div class="flex lg:hidden ml-auto text-gray-200">
                <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 open-menu">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <div class="relative">
                    <button type="button"
                        class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-200 context-toggle"
                        aria-expanded="false">
                        Product
                        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div
                        class="hidden absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-black shadow-lg ring-1 ring-gray-900/5 context-menu">
                        <div class="p-4">
                            <div
                                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                <div
                                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-gray-600">
                                    <svg class="h-6 w-6 text-gray-100 group-hover:text-blue-600" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                                    </svg>
                                </div>
                                <div class="flex-auto">
                                    <a href="#" class="block font-semibold text-gray-200">
                                        Analytics
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="mt-1 text-gray-100">Get a better understanding of your traffic</p>
                                </div>
                            </div>
                            <div
                                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                <div
                                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <svg class="h-6 w-6 text-gray-100 group-hover:text-blue-600" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                    </svg>
                                </div>
                                <div class="flex-auto">
                                    <a href="#" class="block font-semibold text-gray-200">
                                        Engagement
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="mt-1 text-gray-100">Speak directly to your customers</p>
                                </div>
                            </div>
                            <div
                                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                <div
                                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <svg class="h-6 w-6 text-gray-100 group-hover:text-blue-600" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                                    </svg>
                                </div>
                                <div class="flex-auto">
                                    <a href="#" class="block font-semibold text-gray-200">
                                        Security
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="mt-1 text-gray-100">Your customers’ data will be safe and secure</p>
                                </div>
                            </div>
                            <div
                                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                <div
                                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <svg class="h-6 w-6 text-gray-100 group-hover:text-blue-600" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                                    </svg>
                                </div>
                                <div class="flex-auto">
                                    <a href="#" class="block font-semibold text-gray-200">
                                        Integrations
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="mt-1 text-gray-100">Connect with third-party tools</p>
                                </div>
                            </div>
                            <div
                                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                <div
                                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <svg class="h-6 w-6 text-gray-100 group-hover:text-blue-600" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                    </svg>
                                </div>
                                <div class="flex-auto">
                                    <a href="#" class="block font-semibold text-gray-200">
                                        Automations
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="mt-1 text-gray-100">Build strategic funnels that will convert</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
                            <a href="#"
                                class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-200 hover:bg-gray-100">
                                <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z"
                                        clip-rule="evenodd" />
                                </svg>
                                Watch demo
                            </a>
                            <a href="#"
                                class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-200 hover:bg-gray-100">
                                <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                                        clip-rule="evenodd" />
                                </svg>
                                Contact sales
                            </a>
                        </div>
                    </div>
                </div>

                <a href="#" class="text-sm font-semibold leading-6 text-gray-200">Features</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-200">Marketplace</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-200">Company</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a href="#" class="text-sm font-semibold leading-6 text-gray-200">User: <span
                        aria-hidden="true">admin</span></a>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <!-- <div class="lg:hidden" role="dialog" aria-modal="true"> -->
        <div class="hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-10"></div>
            <div
                class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Your Company</span>
                        <h1 class="font-bold text-2xl text-blue-600 shadow-white">IaaC <span
                                class="font-normal">Platform</span>
                        </h1>
                    </a>
                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 close-menu">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <div class="-mx-3">
                                <button type="button"
                                    class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                                    aria-controls="disclosure-1" aria-expanded="false">
                                    Product
                                    <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </button>
                                <!-- 'Product' sub-menu, show/hide based on menu state. -->
                                <div class="mt-2 space-y-2" id="disclosure-1">
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Analytics</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Engagement</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Security</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Integrations</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Automations</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Watch
                                        demo</a>
                                    <a href="#"
                                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact
                                        sales</a>
                                </div>
                            </div>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                        </div>
                        <div class="py-6">
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log
                                in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="h-dvh -mt-32 mx-4">
        <form action="/provision" method="post" class="flex flex-col">
            <section
                class="provider m-auto w-full max-w-screen-sm mt-64 aria-checked:opacity-20 aria-checked:-mt-96 aria-busy:-mt-32">
                <h2 class="text-3xl font-bold mb-6">Select Provider</h2>
                <div class="grid gap-4 provider-selection">
                    <!-- Hidden radio inputs -->
                    <input type="radio" name="provider" value="linode" id="linode" class="hidden peer">
                    <label for="linode"
                        class="group flex items-center h-20 p-4 bg-gray-800 rounded-lg cursor-pointer hover:bg-gray-700">
                        <img src="assets/akamai.svg" alt="Linode" class="mx-auto w-12 h-12 group-hover:hidden">
                        <i class="hidden not-italic m-auto text-gray-400 text-sm group-hover:block">Akamai Connected
                            Cloud</i>
                    </label>
                    <input type="radio" name="provider" value="digitalocean" id="digitalocean" class="hidden peer">
                    <label for="digitalocean"
                        class="group flex items-center h-20 p-4 bg-gray-800 rounded-lg cursor-pointer hover:bg-gray-700">
                        <img src="assets/digitalocean.svg" alt="DigitalOcean" class="mx-auto w-12 h-6">
                        <i class="hidden not-italic m-auto text-gray-400 group-hover:block">DigitalOcean</i>
                    </label>
                    <input type="radio" name="provider" value="aws" id="aws" class="hidden peer">
                    <label for="aws"
                        class="group flex items-center h-20 p-4 bg-gray-800 rounded-lg cursor-pointer hover:bg-gray-700">
                        <img src="assets/aws.png" alt="AWS" class="mx-auto w-9 h-6 group-hover:hidden">
                        <i class="hidden not-italic m-auto text-gray-400 text-sm group-hover:block">Amazon Web
                            Services</i>
                    </label>
                    <input type="radio" name="provider" value="ibm" id="ibm" class="hidden peer">
                    <label for="ibm"
                        class="group flex items-center h-20 p-4 bg-gray-800 rounded-lg cursor-pointer hover:bg-gray-700">
                        <img src="assets/ibm.svg" alt="ibm" class="mx-auto w-8 h-8">
                        <i class="hidden not-italic m-auto text-gray-400 group-hover:block">IBM Cloud</i>
                    </label>
                    <input disabled type="radio" name="provider" value="gcp" id="gcp" class="hidden peer">
                    <label aria-disabled="true" for="gcp"
                        class="group flex items-center h-20 p-4 bg-gray-800 rounded-lg cursor-pointer aria-disabled:opacity-40 aria-disabled:cursor-default">
                        <img src="assets/gcp.svg" alt="GCP" class="mx-auto w-8 h-8">
                        <i class="hidden not-italic m-auto text-gray-400 group-hover:block">Google Cloud</i>
                    </label>
                    <input disabled type="radio" name="provider" value="more" id="none" class="hidden peer">
                    <label aria-disabled="true" for="more"
                        class="group flex items-center relative h-20 p-4 bg-gray-800 rounded-lg cursor-pointer hover:bg-gray-700">
                        <i class="ri-more-fill mx-auto text-3xl text-gray-200 group-hover:hidden"></i>
                        <i class="hidden not-italic m-auto text-gray-400 group-hover:block">More available soon</i>
                    </label>

                    <button type="button" class="mt-4 px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-md">Next</button>
                </div>
            </section>
            <section aria-checked="true" class="token m-auto w-full max-w-screen-sm  mt-32 aria-checked:opacity-20">
                <form action="/provision" method="POST" class="grid gap-4 token-selection">
                    <h2 class="text-3xl font-bold mb-6">Enter Token</h2>
                    <div class="flex">

                        <input type="text" name="token" id="token" class="w-full p-2 text-sm bg-gray-800 rounded-lg"
                            placeholder="Enter your token">
                        <button type="button"
                            class="ml-4 px-16 py-2 bg-blue-600 hover:bg-blue-700 rounded-md">Next</button>
                    </div>
            </section>
            <section aria-checked="true" class="confirm m-auto w-full max-w-screen-sm mt-32 aria-checked:opacity-20">
                <h2 class="text-3xl font-bold mb-6">Confirmation</h2>
                <p>The following services will be created</p>
                <p class="flex items-center justify-between mt-2 p-4 bg-gray-800 rounded-lg">
                    <span class="text-sm">Kubernetes</span>
                    <span class="text-sm">1</span>
                </p>
                <ul role="list"
                    class="grid gap-2 mt-2 ml-8 marker:content-['→_'] marker:text-sky-400 list-disc list-outside"
                    aria-label="Virtual Machines">
                    <li class="p-4 bg-gray-800 rounded-lg">
                        Virtual Machine
                    </li>
                    <li class="p-4 bg-gray-800 rounded-lg">
                        Virtual Machine
                    </li>
                    <li class="p-4 bg-gray-800 rounded-lg">
                        Virtual Machine
                    </li>
                </ul>
                <div class="grid grid-cols-[1fr_auto] gap-4 justify-items-end">
                    <button type="reset" class="mt-4 px-16 py-2 bg-blue-950 hover:bg-blue-900 rounded-md">Start
                        Over</button>
                    <button type="submit"
                        class="mt-4 px-16 py-2 bg-blue-600 hover:bg-blue-700 rounded-md">Provision</button>
                </div>
            </section>
        </form>
    </main>
    <div class="provision hidden h-dvh mx-4">
        <div class="progress grid m-auto">
            <i class="ri-donut-chart-line m-auto animate-spin text-6xl text-blue-600"></i>
            <h2 class="mt-16 text-3xl font-bold mb-6">Provisioning ...</h2>
        </div>
        <div class="success hidden m-auto">
            <h2 class="-mt-16 text-3xl font-bold mb-6">Your kubeconf file:</h2>
            <textarea class="bg-gray-400 p-4 rounded-md" name="kubeconf" id="" cols="60" rows="10"></textarea>
        </div>
        <div class="failure hidden m-auto">
            <i class="ri-error-warning-line m-auto text-6xl text-red-500"></i>
            <h2 class="mt-16 text-3xl font-bold mb-6">Error provisioning</h2>
        </div>
    </div>

    <footer
        class="fixed bottom-0 left-0 z-20 w-full p-4 bg-black border-t border-gray-800 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
                class="hover:underline">IaaC Platform</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer>
    <script src="assets/script.js"></script>
</body>

</html>